version: "3.3"
services:
  server:
    build:
      context: .
      dockerfile: ./src/server/Dockerfile
    image: fast_km-server:build
    command: --pw ${PASSWORD_HASH}  # edit .env file to change password
    ports:
      - "5099:5000"  # HOST_PORT:CONTAINER_PORT
    depends_on:
      - redis
    networks:
      - fast_km-network

  workers:
    build:
      context: .
      dockerfile: ./src/workers/Dockerfile
    image: fast_km-worker:build
    command: --workers 1
    volumes:
      - ${PUBMED_DIR}:/mnt/pubmed  # edit .env file to change pubmed dir
    depends_on:
      - redis
    networks:
      - fast_km-network

  mongo:
    image: mongo
    command: --quiet --logpath /dev/null
    networks:
      - fast_km-network

  redis:
    image: redis
    networks:
      - fast_km-network

  neo4j:
    image: neo4j
    environment:
      NEO4J_AUTH: neo4j/mypass
    ports:
      - "7474:7474"
      - "7687:7687"
    networks:
      - fast_km-network

networks:
  fast_km-network:
