version: "3.3"
services:
  server:
    build:
      context: .
      dockerfile: ./src/server/Dockerfile
    image: fast_km-server:build
    command: --pw ${PASSWORD_HASH}  # edit .env file to change password
    ports:
      - "5001:5000"
    depends_on:
      - redis
    networks:
      - fast_km-network

  workers:
    build:
      context: .
      dockerfile: ./src/workers/Dockerfile
    image: fast_km-worker:build
    command: --workers 1
    volumes:
      - ${PUBMED_DIR}:/mnt/pubmed  # edit .env file to change pubmed dir
    depends_on:
      - redis
    networks:
      - fast_km-network

  mongo:
    image: mongo
    command: --quiet
    networks:
      - fast_km-network

  redis:
    image: redis
    networks:
      - fast_km-network

networks:
  fast_km-network:
