attrs==21.2.0
click==8.0.1
coverage==6.0
importlib-metadata==4.8.1
iniconfig==1.1.1
joblib==1.0.1
nltk==3.6.3
numpy==1.21.2
packaging==21.0
pluggy==1.0.0
py==1.10.0
pyparsing==2.4.7
pytest==6.2.5
regex==2021.9.30
scipy==1.7.1
toml==0.10.2
tqdm==4.62.3
typing-extensions==3.10.0.2
zipp==3.6.0
