scipy                    # fisher's exact test implementation
nltk                     # text processing
regex                    # text processing
pytest                   # unit testing
redis                    # backing store for job queue
rq                       # redis-based job queue
fastapi[standard]        # web api server
msgpack                  # safe/fast serialization
streamlit                # dashboard ui for job monitoring
APScheduler              # scheduling recurring jobs
# htcondor               # htcondor job scheduler. only available on linux and requires a running condor server